body {
    background: #ffe259 linear-gradient(to right, #ffa751, #ffe259);
}
.bg {
    background-image: url(../img/man-tech.jpg!d);
    background-position: center center;
}  

.paragrafo-resultado, .invalid {
    background: rgb(109, 255, 182);
    padding: 10px 20px;
}

.invalid {
    background-color: rgb(255, 150, 150);
}